:root{
  --theme: #F1E04C;
}

body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header, footer{
  background-color: var(--theme);
}


main{
  flex-grow: 1;
}


.product img{
  height: 175px;
  object-fit: cover;
  object-position: top;
}


input[type="range"],input[type="radio"] {
  accent-color: var(--theme);
}


.hero{
  min-height: 76.45vh;
}