:root{
  --theme: #F1E04C;
}

body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header, footer{
  background-color: var(--theme);
}


main{
  flex-grow: 1;
}



.hero{
  min-height: 76.45vh;
}